<!DOCTYPE html>
<html>

    <head>
        <!-- Adding bootstrap CSS styles -->
        <link rel="stylesheet"
              href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
              integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
              crossorigin="anonymous">

        <meta charset="utf-8">
        <meta name="viewport"
              content="width=device-width, initial-scale=1, shrink-to-fit=no">

        <title>Gap Fill</title>
        <link rel="stylesheet"
              type="text/css"
              href="main.css" />
    </head>

    <body class="bg-grey">
        <div>
            <img class="gourmet_logo"
                 src="./media/horizontal_light.png" />
        </div>
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-sm-10">
                    <div class="row justify-content-center">
                        <div class="col">
                            <h3 class="text-center">Please fill in the gaps in the sentence below with a single word.
                            </h3>
                        </div>
                    </div>
                    <div class="row justify-content-center evaluation__subtitle text-primary-dark-grey">
                        <div class="col-sm-10">
                            <p class="text-center">If a hint is provided please use this sentence to inform your
                                decision on the most appropriate word.</p>
                        </div>
                    </div>
                    <div class="evaluation__form">
                        <div class="row margin-top-5percent">
                            <div class="col">
                                <form action="/evaluation"
                                      method="POST">
                                    <div class="row">
                                        <div class="col-sm-1">
                                            <p class="text-purple">Hint:</p>
                                        </div>
                                        <div class="col-sm-11">
                                            <p class="text-purple">
                                                {{hint}}
                                            </p>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-1">
                                        </div>
                                        <div class="col-sm-11">
                                            <p>{{#each translationSegments}}
                                                {{#if @last}}
                                                {{this}}
                                                {{else}}
                                                {{this}} <input
                                                       class="evaluation__form--word-input evaluation-gapfill-word"
                                                       name="{{@index}}"
                                                       required
                                                       autocomplete="off"
                                                       pattern="[a-zA-Z0-9]+"
                                                       title="Must be a single word with no spaces" />
                                                {{/if}}
                                                {{/each}}
                                            </p>
                                        </div>
                                    </div>
                                    <input type="hidden"
                                           name="segmentId"
                                           value={{segmentId}} />
                                    <input type="hidden"
                                           name="setId"
                                           value={{setId}} />
                                    <input type="hidden"
                                           name="evaluatorId"
                                           value={{evaluatorId}} />
                                    <input type="hidden"
                                           name="setSize"
                                           value={{setSize}} />
                                    <input type="hidden"
                                           name="segmentNum"
                                           value={{segmentNum}} />
                                    <input type="hidden"
                                           name="numberOfTranslationSegments"
                                           value={{numberOfTranslationSegments}} />
                                    <input type="hidden"
                                           name='startTime'
                                           value={{startTime}} />
                                    <input type="hidden"
                                           name='sourceLanguage'
                                           value={{sourceLanguage}} />
                                    <input type="hidden"
                                           name='translationSystem'
                                           value={{translationSystem}} />

                                    <div class="row justify-content-center form-group">
                                        <div class="col-sm-2">
                                            <button type="submit"
                                                    class="btn button-primary btn-block">Submit</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="float-right">{{segmentNum}}/{{setSize}}</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </body>

</html>